# 临时文件
*.o
*.pyc
*.tmp
output/
cpp/dynamic
cpp/static

# VScode 文件
.vscode

# idea 文件
.idea

# MacOS 文件
.DS_Store
*.icloud

# windows bash
*.bash

# linux nohup
nohup.*

# logger
*.log

# 设置文件
*.settings
settings.json
python/.VSCodeCounter/results.csv
python/.VSCodeCounter/results.md
python/.VSCodeCounter/results.txt
