{
  "output": "output/",
  "path": "XXX/",
  "videos": ["fire.mov", "fog.mp4", "water1.mp4", "water2.mp4"],
  "vehicle_speed": 1,
  "limit_of_check": 2120,
  "scale": 1, //设置缩放倍数
  "margin": 4, //帧间隔
  "limit_dis_epi": 2, //距离极线的距离
}